.contenido{
  width: 1200px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecera{
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:darkcyan;
  width: 100%;
}

.cabecera__img{
  background-image: url("images/52991.jpg");
  background-size: cover;
  height: 240px;
}

.menu{
  height: 60px;
  padding-left: 0;
  display: flex;
}

.menu__link{
  text-align: center;
  width: 100px;
  padding-top: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 1em;
  color: #eaecdd;
}

.menu__link:hover{
  text-decoration: underline;
  font-weight: bold;
}

.servicios {
  display:flex;
  justify-content: center;
  
  margin-bottom: 20px;
}

.servicio{
  background-color: lightgray;
  border: 1px;
  border-width: 2 px;
  border-color: darkkhaki;
  border-style: solid;
  width: 33.08%;
  margin: 20px;
  text-align: center;
  box-shadow: 6px -6px rgb(37, 214, 214);
  }

.servicio__img{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
 }
 
 .servicio__texto{
   padding: 20px;
   text-align: justify;
   font-size: 14px;
 }

.noticias{ 
  
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.noticia{
  margin: 20px;
  width: 50%;
  padding: 10px;
  border: burlywood;
  border-width: 2px;
  border-style: solid;
  background-color:lightblue;
  box-shadow: 6px -6px rgb(109, 174, 174);
 }
 
 .noticia__text{
  padding: 20px;
  text-align: justify;
 }

.equipo {
  background-color: azure;
  padding: 10px;
  justify-content: center;
  display:flex;
}

.integrantes{
  width: 33%;
  padding: 10px;
  text-align: justify;
}

.footer{
  display: flex;
  justify-content: center;
}


